<!-- <p>{{content}}</p>
<input [(ngModel)]="texto" matInput placeholder="nombre"> -->

<form (submit)="agregarProducto(productForm)" #productForm="ngForm" >
  <mat-form-field appearance="fill">
    <mat-label>Nombre del producto</mat-label>
    <input type="text" matInput placeholder="Nombre" ngModel nombre="ngModel" name="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select ngModel categoria="ngModel" name="categoria">
      <mat-option value="aseo">Aseo</mat-option>
      <mat-option value="viveres">Viveres</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad de producto</mat-label>
    <input type="number" matInput placeholder="Cantidad" ngModel cantidad="ngModel" name="cantidad">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio del producto</mat-label>
    <input type="number" matInput placeholder="Precio" ngModel precio="ngModel" name="precio">
  </mat-form-field>

  <button mat-raised-button color="primary">Guardar</button>
</form>


